{% extends "layout_map.html" %}

{% set serviceName %}
Report Vandalism
{% endset %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/vandalism/start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Click where the damage is</h1>

      <p id="text-location"></p>

      <form class="form" action="similar" method="post">

        <div id="mapid"></div>

        <br>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
