{% extends "layout.html" %}

{% set serviceName %}
Report Vandalism
{% endset %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Non-Emergencies</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Vandalism</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "If it's an emergency dial 999.",
        iconFallbackText: "Warning"
      }) }}

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>report graffiti</li>
        <li>report damage to property</li>
      </ul>

      <p>Reporting takes around 5 minutes.</p>

      <a href="date" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also dial 101.</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Reporting services
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Report flytipping
              </a>
            </li>
            <li>
              <a href="/lost-item/start">
                Report lost item
              </a>
            </li>
            <li>
              <a href="/vandalism/start">
                Report vandalism
              </a>
            </li>
            <li>
              <a href="/road-traffic-incident/start">
                Report road traffic incident
              </a>
            </li>
            <li>
              <a href="/service-list" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
