{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/index">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What would you like to report?</h1>

      <form class="form" action="/road-traffic-incident" method="post">

        <p>What would you like to report?</p>

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{govukInput({
          label: {
            text: "Briefly describe your event to report"
          },
          id: "report",
          name: "report"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Reporting services
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Report flytipping
              </a>
            </li>
            <li>
              <a href="#">
                Report lost item
              </a>
            </li>
            <li>
              <a href="#">
                Report vandalism
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
