{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/input">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Did you mean?
      </h1>

      <p><a href="/road-traffic-incident/start">Report a road traffic incident</a></p>

      <p><a href="#">Report flytipping</a></p>

      <p><a href="/vandalism/start">Report vandalism</a></p>

    </div>
  </div>

{% endblock %}
